.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background: rgba(22, 22, 22, 0.9);
  padding: 16px 24px;

  &__logo {
    display: inline-block;

    a {
      color: var(--text-color-light, #fff);
      font-size: 22px;
      font-weight: 600;
      text-decoration: none;
    }
  }

  &__nav {
    text-align: right;

    a {
      color: var(--text-color-light, #fff);
      font-size: 14px;
      letter-spacing: 0.071em;
      text-decoration: none;
      text-transform: uppercase;
    }

    li {
      display: inline-block;
      margin-left: 30px;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
  }
}
