@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-rgb: 94, 94, 94;
}

/*
@media (prefers-color-scheme: dark)
  :root {
    --text-color-rgb: 247, 247, 247;
  }
}
*/

*,
::before,
::after {
  box-sizing: border-box;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--text-color-rgb));
  line-height: 1.5;
}

h1 {
  font-size: 62px;
}

h2 {
  position: relative;
  color: rgb(28, 43, 61);
  font-size: 38px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 56px;
}

h2::after {
  content: '';
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -26px;
  left: 50%;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%);
}

h3 {
  color: rgb(27, 27, 27);
  font-size: 22px;
  line-height: 1.25;
  word-wrap: break-word;
  margin: 0 0 24px 0;
}

p {
  margin: 0 0 24px 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
