@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

:root {
  --foreground-rgb: 94, 94, 94;
}

[data-theme='dark'] {
  --foreground-rgb: 250, 250, 250;
}

*,
::before,
::after {
  box-sizing: border-box;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
