.modalWrapper {
  width: 360px;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;

  &__body {
    padding-top: 10px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
  }

  &__title {
    font-size: 24px;
  }
}
