.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background: rgba(22, 22, 22, 0.9);
  padding: 16px 24px;
  z-index: 10000;
}

.header__logo {
  display: inline-block;
}

.header__logo a {
  color: var(--text-color-light, #fff);;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.header__nav {
  text-align: right;
}

.header__nav a {
  color: var(--text-color-light, #fff);;
  font-size: 14px;
  letter-spacing: 0.071em;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav ul {
  list-style-type: none;
  margin: 0;
}

.header__nav li {
  display: inline-block;
  margin-left: 30px;
}
