*,
::before,
::after {
  box-sizing: border-box;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --text-color-dark: rgb(94, 94, 94);
  --text-color-light: rgb(247, 247, 247);
}

body {
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-dark, #000);
  line-height: 1.5;
}

.page-sub {
  margin-top: 96px;
}

h1 {
  font-size: 62px;
}

h2 {
  position: relative;
  color: rgb(28, 43, 61);
  font-size: 38px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 56px;
}

h2::after {
  content: '';
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -26px;
  left: 50%;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%);
}

h3 {
  color: rgb(27, 27, 27);
  font-size: 22px;
  line-height: 1.25;
  word-wrap: break-word;
  margin: 0 0 24px 0;
}

p {
  margin: 0 0 24px 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.img_circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-bottom: 24px;
}

.img_rectangle {
  aspect-ratio: 2 / 1;
  margin-bottom: 24px;
  background-position: center;
  background-size: cover;
}

.img_rectangle1 {
  background-image: url('./images/img1.jpg');
}

.img_rectangle2 {
  background-image: url('./images/img2.jpg');
}

.img_rectangle3 {
  background-image: url('./images/img3.jpg');
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto 48px auto;
}

.container_col {
  flex-direction: row;
  gap: 48px;
}

.col_center {
  text-align: center;
}

.col-4 {
  max-width: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
}

.col-6 {
  max-width: 50%;
  flex-basis: 50%;
}
